.Order {
  box-shadow: 0 2px 3px #ccc;
  width: 80%;
  height: 300px;
  margin: 24px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.Order ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Order ul li:not(:first-child) {
  margin-top: 8px;
}

@media (min-width: 600px) {
  .Order {
    width: 500px;
  }
}
